[submodule "3rd-party/global-optimization-test-problems"]
	path = 3rd-party/global-optimization-test-problems
	url = https://github.com/sovrasov/global-optimization-test-problems.git
	branch = master
