[submodule "3rd-party/global-optimization-test-problems"]
	path = 3rd-party/global-optimization-test-problems
	url = https://github.com/sovrasov/global-optimization-test-problems.git
	branch = master
[submodule "3rd-party/cmdline"]
	path = 3rd-party/cmdline
	url = https://github.com/sovrasov/cmdline.git
	branch = fix_msvc_build
[submodule "3rd-party/googletest"]
	path = 3rd-party/googletest
	url = https://github.com/google/googletest.git
	branch = master
